@model List<Codecool.CodecoolShop.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <p>@ViewData["Test"]</p>
    <p>Test</p>
    @if (ViewData["Products"] != null)
    {
        var products = ViewData["Products"] as IEnumerable<Product>;
        var index = 0;
        foreach (var element in products)
        {
            <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <div class="card">
                    <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Product
                            @index
                        </h5>
                        <h5 class="card-title">@element.Name</h5>
                        <p class="card-text">@element.Description.</p>
                        <p class="card-text">Category: @element.ProductCategory.Department</p>
                        <p class="card-text">Supplier: @element.Supplier.Name</p>
                        <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                        <a class="btn btn-primary add-to-cart-button"
                           data-product-id="@element.Id"
                           asp-controller="Product"
                           asp-action="AddToCart"
                           asp-route-productId="@element.Id"
                           asp-route-cartId=1>Add To Cart</a>

                       
                    </div>
                </div>
            </div>
            index++;
        }
    
    }
    else
    {
        <p>Brak produktów do wyświetlenia.</p>
    }
   

</div>

